.banner{
    width: 100%;
    background-repeat:no-repeat ;
    background-size: cover; 
    position: relative;
}
.banner-image-container {
    position: relative;
    width: 100%;
}
.animate-spans{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 20px;
    align-items: center;
    gap: 20px;
    justify-content: center;
    bottom: 20px;
    left: 0;
}


a{
    cursor: pointer;
}

.list-submenu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    top: 0;
    gap: 10px;
}
.lastsub{
    margin-top: 30px;
}
banner-image-container h2,a{
    position: absolute;
}
banner-image-container h2{
    font-size: 56px;
}
banner-image-container a{
    font-size: 20px;
    bottom: 200px;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submenu{
    font-size: 29px;
    position: fixed;
    top:100px;
    left: 42px;
    z-index: 101;
}

.header-right{
    display: flex;
    align-items: center;
    height: 100%;
    width: 600px;
    justify-content: flex-end;
}

.i-divs{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60px;
}

.banner img{
    width: 100%;
    height: auto; /* Обеспечивает сохранение пропорций */
    object-fit: cover;
    user-select: none;
    display: block;
}

header i {
    font-size: 25px ;
}

.main-header-div{
    display: flex;
    align-items: center;
    width: 95.5%;
    justify-content: space-between;
}

header input[type="text"] {
    background: none;
    border: none;
    border-bottom: .1px solid white;
    padding: 10px;
    width: 20%;
}

header input[type="text"]:focus {
    outline: none
}
.header-left{
    width: 600px;
    display: flex;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
h1{
        text-transform: uppercase;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 999;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue,BlinkMacSystemFont,-apple-system,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Arial,sans-serif;
}
.cherta{
    height: 3%;
    background-color: gray;
    width: 2px;
}
header i{
    font-size: 23px;
}
.gender{
    display: flex;
}
.gender li{
    padding: 4px 30px 0 0;
    display: flex;
    align-items: end;

    font-size: 18px;
}
ul{
    list-style: none;
}
header span {
    color: white;
}

footer{
    display: none;
}

a{
    color: white;
    text-decoration: none;
}

